.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

form {
  background: #f9f9f9;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form h2 {
  text-align: center;
  margin: 0;
}

form input {
  padding: 14px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form button {
  padding: 14px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #005fcc;
}

.toggle-button {
  background: none;
  color: #0077ff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

.error {
  color: red;
  text-align: center;
  font-size: 0.9rem;
}