.auth-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #172a45;
}

.auth-wrapper h1 {
  text-align: center;
  color: white;
  margin: 0;
  padding: 30px;
  font-size: 2.2rem;
  background-color: #172a45;
}

.auth-card {
  background-color: white;
  padding: 50px 40px;
  margin: auto;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-card h2 {
  margin-bottom: 25px;
  color: #172a45;
  font-size: 1.8rem;
}

.auth-card form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-card input,
.auth-card select {
  padding: 14px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.auth-card button {
  padding: 14px;
  font-size: 1rem;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.auth-card button:hover {
  background-color: #005fcc;
}

.auth-card p {
  margin-top: 20px;
  font-size: 0.95rem;
  text-align: center;
}

.auth-card .toggle {
  color: #0077ff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.auth-card .error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}